operator:
    address: "{{ operator_address }}"
    earnings_receiver_address: "{{ earnings_receiver_address }}"
    delegation_approver_address: "0x0000000000000000000000000000000000000000"
    staker_opt_out_window_blocks: 0
    metadata_url: "{{ metadata_url }}"
el_delegation_manager_address: "{{ el_delegation_manager_address }}"
eth_rpc_url: "{{ eth_rpc_url }}"
private_key_store_path: "{{ private_key_store_path }}"
signer_type: {{ signer_type }} 
chain_id: "{{ chain_id }}"